.AddWorker {
	margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;

	.Input {
    	display: block;
	}

	// Same as auth, should be moved to a common space
	button {
		background-color: purple;
		color: white;
	}

	form fieldset {
		border: none;
	}
}


@media (min-width: 600px) {
    .AddWorker {
        width: 500px;
    }
}