.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
	font-weight: bold;

	&:first-of-type {
		/* margin-left: 0; */
		/* padding-left: 0; */
	}

	&:disabled {
		color: #CCC;
		background-color: #eae7ec;
		cursor: not-allowed;
		border: 2px solid #CCC;
	}

	&.Success:not(:disabled) {
		border-radius: 3px;
		border: 2px solid rgb(158, 78, 189);
		background-color: #d29cf9;

		&:hover:enabled {
		border: 2px solid rgb(105, 21, 138);
		background-color: #884fb1;
	}
	}

	&.Danger:not(:disabled) {
		border: 2px solid #c12a52;
		background-color: #fb3170;

		&:hover:enabled {
			border: 2px solid #c5002c;
			background-color: #ff0050;
		}
	}
}
