.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: 800;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: 1px solid #CCC;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;

	&::placeholder {
		color: rgb(161, 161, 161);
	}
}

.InputElement:focus {
	outline: none;
	background-color: rgb(255, 253, 253);
}

.InputElement.Valid:focus {
	background-color: rgb(178, 248, 178);
}

.Invalid {
	border: 2px solid tomato;
	background-color: rgb(248, 180, 168);
}

.Valid {
	border: 2px solid green;
}
