.Phone {
	margin: 1.25rem;
	background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: rgb(221, 221, 221);
    padding: 10px;
	width: 280px;

	input {
		box-sizing: border-box;
    	width: 100%;
		color: #333333;
		box-shadow: inset 0 -1px 0 #dddddd;
		padding: 0 1rem 0;
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		font-size: 2em;
    	padding-left: 10px;
	}

	button {
		width: 100%;
		margin: auto;
	}

	.keypad {
		    overflow: auto;
    		padding: 10px 30px 10px 30px;

		span {
			float: left;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			border: 1px solid #ddd;
			font-size: 1.6em;
			margin-left: 5px;
			margin-bottom: 5px;
			font-weight: bold;
			cursor: pointer;
			color: #787878;
			border-radius: 3px;

			&:nth-child(3n +1) {
				margin-left: 5px;
			}
		}
	}
}