.CallCenter {
	display: flex;
	padding-top: 1.25rem;

	ul {
		padding: 0;
	}

	.reservations,
	.subscriber {
		width: 500px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		padding: 0 0 1rem;

		h4 {
			background-color: #f5f5f5;
		border-color: #dddddd;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		padding: .5rem;
		}

	}

	.reservations {
		ul {
			width: 80%;
			margin: auto;

			li {
				margin-bottom: 1rem;
				padding: 0 1rem;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

				.reservation {
					display: flex;
					justify-content: space-between;

					span {
						margin: auto 0;
						vertical-align: middle;
					}

					button {
						padding: 5px;
					}
				}
			}
		}
	}

	.subscriber {
		table {
			padding: 0 1rem;
			width: 100%;

			tr {
				&:nth-child(even) {
					background-color: #f2f2f2;
				}

				&:hover {
					background-color: #ddddddba;
				}

				th,
				td {
					text-align: start;
				}

				th {
					width: 20%;
				}

				td {
					span {
						display: block;
					}
				}
			}
		}
	}

}
